header{
    
    background-image: url("https://media.istockphoto.com/id/1471197299/es/foto/textura-de-pared-de-lujo-de-mármol-negro-y-dorado-con-patrón-de-línea-dorada-brillante-diseño.jpg?s=612x612&w=0&k=20&c=UzevK4naddrICZDJYcgn6YHckyCRfkenizZdDgurup8=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}




.auth-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 10px;
    color: black !important;
}


body {
    background-image: url(https://img.freepik.com/foto-gratis/primer-plano-pared-marmol-blanco-textura_53876-139849.jpg?semt=ais_hybrid&w=740);
}

a{
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

    
a:hover{
    color: #c19d44;
    text-shadow:
                0 0 5px #c19d44,
                0 0 10px #c19d44,
                0 0 20px #c19d44,
                0 0 40px #c19d44;
}

#contact-us{
    background-image: url("https://media.istockphoto.com/id/1471197299/es/foto/textura-de-pared-de-lujo-de-mármol-negro-y-dorado-con-patrón-de-línea-dorada-brillante-diseño.jpg?s=612x612&w=0&k=20&c=UzevK4naddrICZDJYcgn6YHckyCRfkenizZdDgurup8=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cards{
    background-image: url("https://media.istockphoto.com/id/1471197299/es/foto/textura-de-pared-de-lujo-de-mármol-negro-y-dorado-con-patrón-de-línea-dorada-brillante-diseño.jpg?s=612x612&w=0&k=20&c=UzevK4naddrICZDJYcgn6YHckyCRfkenizZdDgurup8=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.loginBox input[type="text"], 
.loginBox input[type="email"],
.loginBox textarea {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}
.loginBox input[type="text"]:hover, .loginBox textarea:hover, .loginBox input[type="email"]:hover{
    color: #c19d44;
    border: 1px solid #c19d44
    ;box-shadow: 0 0 5px rgba(225, 255, 0, 0.3), 0 0 10px rgba(255,225,0,.2), 0 0 15px rgba(255,225,0,.1), 0 2px 0 black
}
.loginBox input[type="text"]:focus, .loginBox textarea:focus, .loginBox input[type="email"]:focus{
    border-bottom: 2px solid #c19d44}

.loginBox textarea{
    height: auto;
}
.loginBox button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #c19d44;
    color: black;
    border-radius: 20px;
    cursor: pointer
}